* {
    font-family: 'Lemon', serif;
    font-size:1em;
}

p, label {
    font-weight: 700;
    color: #C6D8D3;
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

    .button-30:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }

    .button-30:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .button-30:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
    }

.checkbox-wrapper-51 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-51 .toggle {
    position: relative;
    display: block;
    width: 42px;
    height: 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

    .checkbox-wrapper-51 .toggle:before {
        content: "";
        position: relative;
        top: 1px;
        left: 1px;
        width: 40px;
        height: 22px;
        display: block;
        background: #c8ccd4;
        border-radius: 12px;
        transition: background 0.2s ease;
    }

    .checkbox-wrapper-51 .toggle span {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        display: block;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 2px 6px rgba(154,153,153,0.75);
        transition: all 0.2s ease;
    }

        .checkbox-wrapper-51 .toggle span svg {
            margin: 7px;
            fill: none;
        }

            .checkbox-wrapper-51 .toggle span svg path {
                stroke: #c8ccd4;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 24;
                stroke-dashoffset: 0;
                transition: all 0.5s linear;
            }

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle:before {
    background: #52d66b;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span {
    transform: translateX(18px);
}

    .checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span path {
        stroke: #52d66b;
        stroke-dasharray: 25;
        stroke-dashoffset: 25;
    }

.center-div {
    margin: auto;
    width: 100%;
    /*border: 3px solid green;*/
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 40px 0px;
    background-image: linear-gradient(#f8f5f5 50%,#0880ac);
    color: transparent;
    background-clip: text;
}

.connect-buttons {
    margin-bottom: 30px;
}

/* Style The Dropdown Button */
.drop-btn {
    width: auto;
    height: auto;
}

#dropdown {
    border: 2px solid #2D7C66;
    border-radius: 10px;
    background: #F0EDE7;
    color: #002d16;
    cursor: pointer;
    height: 100%;
    outline: none;
    padding: 10px 10px;
    width: 100%;
}

    #dropdown option {
        background: #F0EDE7;
        color: black;
    }