@page "/connection"
@using MachineControlHub.PrinterConnection
@inject Data.SerialConnectionService service

<PageTitle>Connection</PageTitle>

<h1>Connection</h1>


<button class="btn btn-info" @onclick="ConnectionConfiguration"> Connect</button>
<button class="btn btn-info" @onclick="serialConnection.Disconnect"> Disconnect</button>

<br />
<br />


<p>
    Port:
    <select class="form-control" @bind="@portName" style="width:100px">
        @foreach (var template in serialConnection.AvailableConnections())
        {
            <option value=@template>@template</option>
        }
    </select>
</p>


<p>
    Baudrate:
    <select class="form-control" @bind="@baudRate" style="width:100px">
        <option value="115200">115200</option>
        <option value="250000">250000</option>

    </select>
</p>

@code {

    SerialConnection serialConnection = new();

    public string portName = "";
    public int baudRate;

    public void ConnectionConfiguration()
    {
        serialConnection.PortName = portName;
        serialConnection.BaudRate = baudRate;
        serialConnection.Connect();
        service.printerConnection = serialConnection;
    }

}
