@page "/connection"
@page "/"
@using MachineControlHub.PrinterConnection
@inject Data.ConnectionServiceSerial serial

<PageTitle>Serial Connection</PageTitle>
<div class="center-div">

    <ConnectionStatus Connection="ConnectionServiceSerial.printerConnection.IsConnected" />

    <h1>Serial Connection</h1>


    <MudButton @onclick="ConnectionConfiguration"> Connect</MudButton>
    <MudButton @onclick="serial.Disconnect"> Disconnect</MudButton>

    <MudSelect T="string" Label="Select Port" @bind-Value="serial.portName" Variant="Variant.Outlined">
        @foreach (var template in serial.GetPorts())
        {
            <MudSelectItem Value=@template />
        }
    </MudSelect>
    <MudSelect T="int" Label = "Select Baudrate" @bind-Value="serial.baudRate" Variant="Variant.Outlined">
        <MudSelectItem Value="115200" />
        <MudSelectItem Value="250000" />
    </MudSelect>
</div>
@code {

    public void ConnectionConfiguration()
    {
        try
        {
            serial.Initialize($"{serial.portName},{serial.baudRate}");
            ConnectionServiceSerial.printerConnection.IsConnected = true;
            serial.Connect();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}
