@page "/connection"
@using MachineControlHub.PrinterConnection
@inject Data.ConnectionServiceSerial service
@inject Data.PrinterData printer

<PageTitle>Connection</PageTitle>

<h1>Connection</h1>


<button class="btn btn-info" @onclick="ConnectionConfiguration"> Connect</button>
<button class="btn btn-info" @onclick="service.Disconnect"> Disconnect</button>
<br />
<br />
@if(service.inititalized){
    <p><strong>Connected</strong></p>
}else{<p><strong>Disconnected</strong></p>}
<br />

<p>
    Port:
    <select class="form-control" @bind="@portName" style="width:100px">
        @foreach (var template in service.GetPorts())
        {
            <option value=@template>@template</option>
        }
    </select>
</p>


<p>
    Baudrate:
    <select class="form-control" @bind="@baudRate" style="width:100px">
        <option value="115200">115200</option>
        <option value="250000">250000</option>

    </select>
</p>

@code {


    public string portName = "";
    public int baudRate;


    public void ConnectionConfiguration()
    {
        try
        {
            service.Initialize($"{portName},{baudRate}");
            service.inititalized = true;
            service.Connect();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}
