@page "/counter"
@using MachineControlHub.PrinterConnection

<PageTitle>DASHBOARD</PageTitle>

<h1>DASHBOARD</h1>

@* <p role="status">@status</p> *@

@* 
<button class="btn btn-info" @onclick="Connect"> Connect</button>
<br />
<button class="btn btn-info" @onclick="Disconnect"> Disconnect</button>

@code {
    SerialConnection serialConnection = new SerialConnection();
    public string status = "";

    public void Connect()
    {
        try
        {
            serialConnection.PortName = "COM3";
            serialConnection.Connect();
            status = "Connected";
        }
        catch (Exception)
        {
            status = "Error opening serial port";
        }
    }

    public void Disconnect()
    {
        serialConnection.Disconnect();
        status = "Disconnected";
    }
} *@
